.big-box{
    
    background:linear-gradient(to left, rgb(22, 22, 22), rgb(59, 59, 59));
    height: 37em;
    width: 82em;
    margin: 0 auto 0 auto;
    border-radius: 3em;
}
.box{
    background-color: aliceblue;
    box-shadow: black 7px 9px 14px;
    height: 23em;
    width: 23em;
    margin: 0 auto 0 auto;
    border-radius: 2cqb;
}
.h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin-left: 4%;
}
.lab1{
    width: 19em;
    height: 2em;
    margin-left: 4%;
    border-radius: 1cqmin;
    background-color: white;
    box-shadow: black 5px 6px 9px;
}
.log{
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.but{
    width: 10em;
    height: 2em;
    margin-left: 28%;
    cursor: pointer;
    border-radius: 1dvh;
    background-color: white;
    box-sizing: content-box;
    box-shadow: black 5px 6px 9px;
}
.p1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.now{
    color: rgb(243, 87, 26);
    text-decoration: none;
}